<section class="cats">
   <ul>
      {{#each cats}}
         {{>cat}}
      {{else}}
         <div class="no-cats">
            <p>There are no cats yet...</p>
         </div>
      {{/each}}
   </ul>
</section>