<section class="cats">
   <ul>
      {{#each cats}}
         {{>cat}}
      {{else}}
         <div class="no-cats">
            {{#if searchQuery}}
               <p>No cats found matching "{{searchQuery}}"</p>
               <p><a href="/">View all cats</a></p>
            {{else}}
               <p>There are no cats yet...</p>
            {{/if}}
         </div>
      {{/each}}
   </ul>
</section>